.exemplary-user-friends-in-frame{
  &__item{
    max-width: 7rem;
    margin: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &__avatar{
      width: 5rem;
      height: 5rem;
    }
  }

  &__items{
    opacity: 0.9;
    display: flex;
    flex-wrap: wrap;
  }
}