.chat{
  width: 100%;
  position: relative;

  &__interlocutor-data{
    display: flex;
    justify-content: center;
  }

  &__message-wrapper {
    position: relative;
    width: 100%;
  }

  &__messages {
    overflow-y: scroll;
    height: 75%;
    margin: 0 !important;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  &__subgroup-creation-time {
    width: 100%;
    height: 2rem;
    text-align: center;
    color: gray;
  }

  &__controls {
    position: absolute;
    z-index: 1000;
    width: 100%;
    background: white;
  }
}