.chat-message {
  //position: absolute;
  //top: 0;
  //width: 50%;

  padding: 1rem;

  width: 100%;

  &:hover{
    cursor: pointer;
  }

  &__text-bg{
    border-radius: 1rem;
  }

  &--created-by-viewer {
    right: 0;
  }

  &--received-by-viewer {
    left: 0;
  }
}