.chat-preview-card{
  transition: all 200ms ease-in-out;
  transition-property: box-shadow, height, width, background, font-size;
  padding: 1rem;
  border-radius: .3rem;

  &:hover{

    background: rgba(gray, .1);

    cursor: pointer;
  }
}
