.items-frame-l{
  .uk-card-header{
    padding: 0 0 8px 0;
    font-weight: 500;
  }

  .items-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.9;
  }
}
