USE [master]
GO
/****** Object:  Database [Amiq_User]    Script Date: 1/6/2022 5:17:57 PM ******/
CREATE DATABASE [Amiq_User]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Amiq_User', FILENAME = N'/var/opt/mssql/data/Amiq_User.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Amiq_User_log', FILENAME = N'/var/opt/mssql/data/Amiq_User_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Amiq_User].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Amiq_User]
GO
/****** Object:  Schema [Core]    Script Date: 1/6/2022 5:17:57 PM ******/
CREATE SCHEMA [Core]
GO
/****** Object:  Schema [User]    Script Date: 1/6/2022 5:17:57 PM ******/
CREATE SCHEMA [User]
GO
/****** Object:  Table [Core].[TextBlock]    Script Date: 1/6/2022 5:17:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Core].[TextBlock](
	[TextBlockId] [uniqueidentifier] NOT NULL,
	[Header] [nvarchar](150) NOT NULL,
	[Content] [nvarchar](350) NULL,
 CONSTRAINT [PK_TextBlock] PRIMARY KEY CLUSTERED 
(
	[TextBlockId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [User].[BlockedUsers]    Script Date: 1/6/2022 5:17:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [User].[BlockedUsers](
	[BlockedUsersId] [uniqueidentifier] NOT NULL,
	[IssuerId] [int] NOT NULL,
	[DestUserId] [int] NOT NULL,
 CONSTRAINT [PK_BlockedUsers] PRIMARY KEY CLUSTERED 
(
	[BlockedUsersId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [User].[User]    Script Date: 1/6/2022 5:17:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [User].[User](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[Login] [varchar](150) NOT NULL,
	[Name] [varchar](150) NOT NULL,
	[Surname] [varchar](150) NOT NULL,
	[Password] [varchar](150) NOT NULL,
	[Birthdate] [date] NOT NULL,
	[Sex] [char](1) NOT NULL,
	[Email] [varchar](150) NOT NULL,
	[AvatarPath] [varchar](max) NULL,
	[ShortDescription] [nvarchar](400) NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [User].[UserDescriptionBlock]    Script Date: 1/6/2022 5:17:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [User].[UserDescriptionBlock](
	[UserDescriptionBlockId] [uniqueidentifier] NOT NULL,
	[UserId] [int] NOT NULL,
	[TextBlockId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_UserDescriptionBlock] PRIMARY KEY CLUSTERED 
(
	[UserDescriptionBlockId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [Core].[TextBlock] ([TextBlockId], [Header], [Content]) VALUES (N'3d5b4599-bfdc-4a20-9aa7-2eab55b247e1', N'test2', N'dasd')
INSERT [Core].[TextBlock] ([TextBlockId], [Header], [Content]) VALUES (N'5d50fc15-adbe-4aef-a7fe-aa694a7d94de', N'Test 2', N'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.')
INSERT [Core].[TextBlock] ([TextBlockId], [Header], [Content]) VALUES (N'53017af3-420b-4e2e-ac7a-c9aad1d0c20f', N'Test 3 for group id 1', N'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.')
GO
INSERT [User].[BlockedUsers] ([BlockedUsersId], [IssuerId], [DestUserId]) VALUES (N'0ccee93a-f954-4b40-b1bc-17d218d952ac', 6, 8)
GO
SET IDENTITY_INSERT [User].[User] ON 

INSERT [User].[User] ([UserId], [Login], [Name], [Surname], [Password], [Birthdate], [Sex], [Email], [AvatarPath], [ShortDescription]) VALUES (1, N'chlenix', N'Dimitr', N'Ruski', N'111', CAST(N'1999-04-10' AS Date), N'M', N'd1@gmw.com', N'user.jpg', N'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent lobortis vitae nisl eget scelerisque. Aliquam nibh lectus, hendrerit vel nisl eu, volutpat tempus lorem. Duis eget nulla elit. Orci varius natoque penatibus et magnis dis parturient montes')
INSERT [User].[User] ([UserId], [Login], [Name], [Surname], [Password], [Birthdate], [Sex], [Email], [AvatarPath], [ShortDescription]) VALUES (2, N'derek', N'Dimitr', N'Jankowski', N'333', CAST(N'1998-04-11' AS Date), N'M', N'gdfg.dsa2@gmw.com', N'user.jpg', N'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent lobortis vitae nisl eget scelerisque. Aliquam nibh lectus, hendrerit vel nisl eu, volutpat tempus lorem. Duis eget nulla elit. Orci varius natoque penatibus et magnis dis parturient montes')
INSERT [User].[User] ([UserId], [Login], [Name], [Surname], [Password], [Birthdate], [Sex], [Email], [AvatarPath], [ShortDescription]) VALUES (3, N'karina', N'Katarzyna', N'Brovlowska', N'888', CAST(N'1997-01-02' AS Date), N'F', N'bdsad@gmw.com', N'user.jpg', N'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent lobortis vitae nisl eget scelerisque. Aliquam nibh lectus, hendrerit vel nisl eu, volutpat tempus lorem. Duis eget nulla elit. Orci varius natoque penatibus et magnis dis parturient montes')
GO
SET IDENTITY_INSERT [User].[User] OFF
GO
INSERT [User].[UserDescriptionBlock] ([UserDescriptionBlockId], [UserId], [TextBlockId]) VALUES (N'cd8ce9f9-b22a-4d41-a725-3f2ab9cb2638', 6, N'5d50fc15-adbe-4aef-a7fe-aa694a7d94de')
INSERT [User].[UserDescriptionBlock] ([UserDescriptionBlockId], [UserId], [TextBlockId]) VALUES (N'41a26e72-2d80-4e3c-bf95-4df0a916e917', 6, N'b80afd29-1385-41aa-b480-fffac9eb228c')
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UC_UserLogin]    Script Date: 1/6/2022 5:17:57 PM ******/
ALTER TABLE [User].[User] ADD  CONSTRAINT [UC_UserLogin] UNIQUE NONCLUSTERED 
(
	[Login] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [User].[BlockedUsers] ADD  CONSTRAINT [DF_BlockedUsers_BlockedUsersId]  DEFAULT (newid()) FOR [BlockedUsersId]
GO
ALTER TABLE [User].[UserDescriptionBlock] ADD  CONSTRAINT [DF_UserDescriptionBlock_UserDescriptionBlockId]  DEFAULT (newid()) FOR [UserDescriptionBlockId]
GO
ALTER TABLE [User].[BlockedUsers]  WITH CHECK ADD  CONSTRAINT [FK_BlockedUsers_DestUser] FOREIGN KEY([DestUserId])
REFERENCES [User].[User] ([UserId])
GO
ALTER TABLE [User].[BlockedUsers] CHECK CONSTRAINT [FK_BlockedUsers_DestUser]
GO
ALTER TABLE [User].[BlockedUsers]  WITH CHECK ADD  CONSTRAINT [FK_BlockedUsers_IssuerUser] FOREIGN KEY([IssuerId])
REFERENCES [User].[User] ([UserId])
GO
ALTER TABLE [User].[BlockedUsers] CHECK CONSTRAINT [FK_BlockedUsers_IssuerUser]
GO
ALTER TABLE [User].[UserDescriptionBlock]  WITH CHECK ADD  CONSTRAINT [FK_UserDescriptionBlock_TextBlock] FOREIGN KEY([TextBlockId])
REFERENCES [Core].[TextBlock] ([TextBlockId])
GO
ALTER TABLE [User].[UserDescriptionBlock] CHECK CONSTRAINT [FK_UserDescriptionBlock_TextBlock]
GO
ALTER TABLE [User].[UserDescriptionBlock]  WITH CHECK ADD  CONSTRAINT [FK_UserDescriptionBlock_User] FOREIGN KEY([UserId])
REFERENCES [User].[User] ([UserId])
GO
ALTER TABLE [User].[UserDescriptionBlock] CHECK CONSTRAINT [FK_UserDescriptionBlock_User]
GO
USE [master]
GO
